.toggle-btn {
    min-width: 75px;
    background-color: #FF8640;
    color: #000000; /* Black text */
    border: 2px solid #000000; /* Thick black border */
    box-shadow: 4px 4px 0px 0px #000000; /* Hard shadow for a raw look */
    font-family: "Arial Black", sans-serif; /* Bold sans-serif font */
    font-size: 18px;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    transition: transform 0.2s ease;
}

.toggle-btn:hover {
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0px 0px #000000;
}

.toggle-btn:active {
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0px 0px #000000;
}

.active {
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0px 0px #000000;
    background-color: #C4652E;
}